// declaracion de variables para media Queries 
$break-extra-small: 320px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;

div.mp-filter{
      z-index: 2;
      div{
        @media screen and (max-width: $break-extra-small) {
           display: block !important;
        };
          div.m-container-icon{
              width: 10%;
              i{
                @media screen and (max-width: $break-extra-small) {
                    cursor: pinter;
                };
              }  
              span{
                @media screen and (max-width: $break-medium) {
                    display: none;
                };
                
              }
          }

          div{
               @media screen and (max-width: $break-extra-small) {
                    width: 100%;
                };
              button.mp-buttons{
                  width: 30%;
                  margin-right: 2%;
                  border-radius: 2px;
                  padding: 2%;
                  border: solid 1px #009ED5;
                  color: white;
                  text-transform: uppercase;
                  cursor: pointer;
                  background-color: rgba(255, 239, 16, 0);
                  @media screen and (max-width: $break-large) {
                    font-size: .7em;
                  };
                  @media screen and (max-width: $break-medium) {
                    font-size: .6em;
                  };
                  @media screen and (max-width: $break-extra-small) {
                    width: 100%;
                  };
              }
              button.mp-buttons:hover{
                  background-color: #FFEF10;
                  color: black;
              }
              button.selected{
                   background-color: #FFEF10;
                   color: black;
                   border: none;
              }
          }
          div{    
              select.mp-options{
                  width: 23%;
                  margin-right: 1%;
                  border-radius: 2px;
                  padding: 1%;
                  border: none;
                  color: white;
                  text-transform: uppercase;
                  cursor: pointer;
                  font-size: .8em;
                  option.selected{
                    color: black;
                    text-transform: uppercase;
                  };
                  @media screen and (max-width: $break-large) {
                    font-size: .7em;
                  };
                  @media screen and (max-width: $break-medium) {
                    font-size: .6em;
                  };

              }
              select.mp-options:hover{
                  background-color: yellow;
              }
          }
        div.mp-button-reset{
          width:13%;
        }
      }
  }
.selected{
    background-color: #FFEF10;
}
.fixed{
  position:fixed;
  top: 1%;
  z-index: 1 !important;
}