/* Estilo pagina register */
div.mp-bg-dark{
    position: fixed;
    overflow: hidden;
    width: 25%;
    // background: rgba(0, 0, 0, 0.507);
    height: 90%;
    top: 5%;
    right: 5% ;
  }

  .mp-text-politicas{
      font-size: .9em;
      color: white;
  }

  .mp-bg-input{
    background-color: black !important;
  }
 .active{
     background-color: #FFF000 !important;
     color: #000;
 }
 .hide{
    display: none !important;
  }