<div class="container-all mp-bg-dark d-flex justify-content-center">
  <div class="w-25 mt-5">
    <h5 class="text-left border-bottom   border-primary  pb-2 text-white">REGISTRA TU CUENTA</h5>
    <div>

      <form class="pt-2">
        <div class="form-group">
          <div>
            <input type="text" class="form-control mp-bg-input  mb-3 active" placeholder="Nombre">
            <input type="email" class="form-control border-light mp-bg-input mb-3" placeholder="Correo Electrónico">
            <input type="password" class="form-control border-light mp-bg-input mb-3" placeholder="Contraseña">
            <input type="password" class="form-control border-light mp-bg-input mb-3" placeholder="Repetir Contraseña">
            <input type="date" class="mp-bg-input mb-3  form-control border-light" title="Fecha de Nacimiento">
            <div class="d-flex mt-4">
              <input type="checkbox" class="w-25 mb-3" value="true">
              <p class="mp-text-politicas">Aceptas nuestras <span class="text-primary">Condiciones</span> , <span class="text-primary">
                  la Politicas de datos</span> y la <span class="text-primary"> Politicas de Cookies.</span></p>
            </div>

          </div>

        </div>

        <div class="form-group text-left">
          <input type="button" class="btn btn-danger w-50 mb-3" value="REGISTRARME" name="register">
        </div>
      </form>

    </div>
  </div>
</div>