<footer class="page-footer font-small pt-4">

  <div class="container-fluid text-center text-md-left">

    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3 text-md-left">

        <img id="logoFooter" src="assets/img/logo/LogoResponsive_01.png" alt="">
        <hr style="width: 200%; background: blue">

      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-6 mb-md-0 mb-3">

        <h5 class="text-right text-uppercase font-weight-bold">© 2018 Jsarmiento, Francisco Ayala y James Guerrero</h5>

      </div>

    </div>
    <div class="row">
      <a type="button" mdbBtn floating="true" size="lg" class="btn-fb waves-light" mdbWavesEffect><i class="fa fa-facebook"></i></a>
      <a type="button" mdbBtn floating="true" size="lg" class="btn-fb waves-light" mdbWavesEffect><i class="fa fa-youtube-play"></i></a>

      <!--Twitter-->
      <a type="button" mdbBtn floating="true" size="lg" class="btn-tw waves-light" mdbWavesEffect><i class="fa fa-twitter"></i></a>
      <h3 style="text-align: right">|</h3>
      <p class="text-right text-uppercase font-weight-bold" id="rightText">Terms & conditions <span class="color"> |
        </span> Privacy policy <span class="color"> | </span> Coockies policy <span class="color"> | </span> Copyrights
        Notification</p>

    </div>
  </div>

  <div class="footer-copyright text-center py-3">© 2018 No Copyright:
    <a href="https://mdbootstrap.com/education/angular/"> Mplay.com</a>
  </div>

</footer>
