<!-- <app-sidebar></app-sidebar>
<br>
<app-filter></app-filter>
<br> -->
<!-- <app-login></app-login> -->
<app-sidebar></app-sidebar>
<app-carousel></app-carousel>
<app-filter></app-filter>
<app-register></app-register>
<div class="pt-5 mt-5">
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
</div>
<div class="pt-5 mt-5">
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
</div>