<div id="sidebar">
  <ul class="nav">
    <form class="form-inline form-sm position-relative  mp-show">
      <input class="form-control form-control-sm mr-3 w-100 d-inline-block mp-input  position-relative" type="text"
        placeholder="Search" aria-label="Search" mdbInputDirective>
      <i class="fa fa-search icon-search " aria-hidden="true"></i>
    </form>
    <div class="links mp-link-hide">
      <a class="nav-link waves-effect" (click)="enabledLogin();">
        <i class="fa fa-user-circle mr-2" aria-hidden="true"></i>Iniciar Sesión</a>

      <a class="nav-link waves-effect"  href="#">
        <i class="fa fa-facebook mr-2" aria-hidden="true"></i>Iniciar con facebook</a>
    </div>
    <li><a href="" id="perfil">PERFIL</a></li>
    <li><a href="" id="series">SERIES</a></li>
    <li><a href="" id="peliculas">PELÍCULAS</a></li>
  </ul>
</div>

<div class="mp-main">
  <nav class="d-flex justify-content-center p-2">

    <a id="sidebar-btn" class="navbar-brand pl-3"><i class="fa fa-bars selectIcon"></i></a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <img class="mp-logoPrimario" src="assets/img/logo/LogoPrimario.png" alt="">
      </li>
    </ul>

    <!-- Search form -->

    <form class="form-inline form-sm w-25 position-relative">
      <input class="form-control form-control-sm mr-3 w-100 d-inline-block mp-input  position-relative" type="text"
        placeholder="Search" aria-label="Search" mdbInputDirective>
      <i class="fa fa-search icon-search " aria-hidden="true"></i>
    </form>
    <div class="links">
      <a class="nav-link waves-effect"  id="iniciarSesion" (click)="enabledLogin();">
        <i class="fa fa-user-circle mr-2" aria-hidden="true"></i>Iniciar Sesion
      </a>

      <a class="nav-link waves-effect" id="iniciarFacebook" href="#">
        <i class="fa fa-facebook mr-2" aria-hidden="true"></i>Iniciar con facebook</a>
    </div>
  </nav>
</div>

<div *ngIf="activeLogin">
  <a (click)="disableLogin();" class="mp-buttonClose">
    <i class="fa fa-times text-white" title="Cerrar"></i>
  </a>
  <app-login></app-login>
</div>
