<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-1 navbar-expand-lg navbar-dark  lighten-2" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"><i class="fas fa-bars"></i></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <img id="logoPrimario" src="assets/img/logo/LogoPrimario.png" alt="">
      </li>
    </ul>


    <!-- Search form -->
    <form class="form-inline form-sm w-25">
      <input class="form-control form-control-sm mr-3 w-100 d-inline-block mp-input" type="text" placeholder="Search"
        aria-label="Search" mdbInputDirective>
      <i class="fa fa-search icon-search" aria-hidden="true"></i>
    </form>

    <a class="nav-link waves-effect " href="#">
      <i class="fa fa-user-circle mr-2" aria-hidden="true"></i>Iniciar Sesion</a>

    <a class="nav-link waves-effect " href="#">
      <i class="fa fa-facebook mr-2" aria-hidden="true"></i>Iniciar con facebook</a>

  </links>
  <!-- Collapsible content -->
</mdb-navbar>

